/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.money {
  font-size: 2.5rem;
  font-weight: 700;
}

.button-Style{
  background-color: #303030;
  color: #F4AB4D; 
  font-weight: 600;
  font-size: 1.3rem;
}



body {
  background-color: gray !important;
}



#card-style > .active{
  box-shadow: 0px 0px 0px 10px #F4AB4D;
}

.real {
  color: #C85B00;
  font-weight: 700;
  font-size: 1.6rem;
}

.title {
  color: #F4AB4C;
  font-weight: 700;
}

.subtitle {
  color: #E4E0DF;
  font-size: 1.8rem;
  font-weight: 700;
}
